.row-1{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.col-1{
  flex-basis: 50%;
  min-width: 300px;
  margin-top: 10rem;
}

.col-1 img{
  max-width: 150%;
  padding: 50px 10px 50px 0;
  min-width:auto;
}
.col-1 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.main_img{
  filter: drop-shadow(4px 5px 6px #222);
}

.footer:before,
.footer:after {
    content:"";
    display:table;
    line-height:0;
}
.footer:after {
    clear:both;
}