*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'EB Garamond', serif;
    
}

/*-----------------Header----------------*/
.navbar-1{
    display: flex;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background-color: white;
}

nav{
    flex: 1;
    text-align: right;
    color: black !important;
}

nav a:hover{
  color: #f54040;
  text-decoration: none;
}


.dropdown-menu{
  border: none !important;
}

nav ul{
    display:inline-block;
    list-style-type: none;
    color: black;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    color: black;
}

.container-1{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;   
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;   
}

a{
    text-decoration: none;
    color: black;
}

nav select {
  display: none;
}
@media (max-width: 960px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}


/*-----------------------Grid-content------------------------*/

.grid-1 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto auto auto auto;
    background-color: white;
    padding: 10px;
    border-radius: 1px;
    grid-gap: 1em;
    margin: 5rem 2rem 2rem 2rem;
    
  }


  .sort-g, .pro-g, .footer-g {
    background-color: white;
        padding: 20px;
    margin: 1px;
    font-size: 30px;
    text-align: center;
  }
  .sort-g{
    grid-column: 1;
    grid-row: 1/3;
    border: 1px rgba(128, 128, 128, 0.849);
  }
  .pro-g{
    grid-column: 2;
    grid-row: 1/5;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
  }
  .footer-g{
    grid-column: 1/3;
    grid-row: 5/6;
    background-color: rgb(54, 54, 54);
    font-size: small;
  }

  /*--------------------Product section---------------*/
  .grid-2{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      border: 2px black;
      
  }
  .product{
    flex-basis: 30%;
    padding: 10px;
    min-width: 200px;
    margin: 15px;
    flex-direction: row;
    box-shadow: 0 0px 7px 0px #ddd;
    
  }
  hr.solid {
    border-top: 1px solid #bbb;
  }
 
  .product p{
    font-size: 14px;
  }
  .product img{
      width: 100%;
  }
h5{
  color: whitesmoke !important;
  font-weight: lighter;
}
  .list-unstyled a{
    color: rgb(218, 214, 214);
    font-weight: 500;
  }
  .footer-copyright{
    color: grey;
  }
 
.pro_name{
  font-size: 15px;
}

/*-----------Button----------------*/

.product>p{
  justify-content: right;
}
.myButton {
	background:linear-gradient(to bottom, #f54040 5%, #d62828 100%);
	background-color:#f54040;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#fafafa;
	font-family:Arial;
	font-size:11px;
	padding:8px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  
}
.myButton:hover {
	background:linear-gradient(to bottom, #d62828 5%, #f54040 100%);
	background-color:#d62828;
  color: white;
  text-decoration: none ;
}
.myButton:active {
	position:relative;
	top:1px;
}